
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 75px;
    background-color: white;
    width: 100%;
    height: 60px;
    position: relative;
    font-weight: 600;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    height: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-links a:hover {
    color: orange;
}

.one, .two {
    border-radius: 10px;
    padding: 10px 20px;
    color: blue;
    background-color: white;
    border: 1px solid blue;
    cursor: pointer;
}

.one:hover, .two:hover {
    background-color: blue;
    color: white;
}
.two{
    margin-left:7px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 100px;
    background-color: #F7F9FF;
    height:850px;
}

.content {
    max-width: 600px;
    margin-left:60px;
    margin-top:-80px;
}

.content h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

.highlight {
    color: blue;
}

.content p {
    font-size: 18px;
    line-height: 26px;
    margin-top: 40px;
}

.features {
    margin-top: 40px;
    font-size: 16px;
}

.cta {
    margin-top: 60px;
    padding: 12px 20px;
    border: none;
    background-color:blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.cta:hover {
    background-color:blue;
}

.img {
    position: relative;
    width: 600px;
    height: 425px;
    margin-right:100px;
    margin-top:-80px;
}
.image{
    margin-left:200px;
}
.pic{
    margin-bottom:-20px;
    margin-left:-30px;
}
.picc{
    margin-bottom:-10px;
    margin-left:10px;
}
.video{
    height:650px;
    width:100%;
    align-items: center;
    padding-top:150px;
}
.video h1{
   text-align:center;
}
.grp{
    justify-content:space-around;
    align-items:center;
    display:flex;
    width:85%;
    gap:2px;
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
}
.b2{
    width: 1003px;
    display: flex;
height: 209px;
top: 1525px;
left: 182px;
justify-content:space-around;
margin-left: 120px;

}

.rocket 
{
margin-right:950px;
}
.bo1, .bo2 , .bo3
{
width: 220px;
height: 191px;
top: 87px;
padding-bottom: 40px;
}
.para1, .para2, .para3
{
font-family: "Gilroy-Bold", sans-serif;
width: 257px;
height: 24px;
margin-top: 24px;
color: #121214;
font-weight: bold;
top: 84px;
}
.sp1, .sp2, .sp3{
    width: 287px;
    margin-top: 8px;
height: 71px;
top: 120px;
color: #555;
font-family: "Gilroy-Bold", sans-serif;
}

.b3{
    width: 1003px;
    display: flex;
height: 191px;
margin-top: 0px;
left: 182px;
justify-content:space-around;
margin-left: 120px;
}
.bb1, .bb2 , .bb3{
    width: 220px;
height: 191px;
top: 87px;
}
.pa1, .pa2, .pa3{
    font-family: "Gilroy-Bold", sans-serif;
    width: 257px;
height: 24px;
margin-top: 24px;
color: #121214;
font-weight: bold;
top: 84px;
}
.sp1, .sp2, .sp3{
    width: 287px;
    margin-top: 8px;
height: 71px;
top: 120px;
color: #555;
font-family: "Gilroy-Bold", sans-serif;
}
.div3
{
    height:800px;
    width:100%;
    background-color: #F7F9FF;
    padding:80px;
    padding-left: 20px;
}

